@font-face {
  font-family: "Monograf";
  font-style: normal;
  font-weight: normal;
  src: local("Monograf"),
       url(/fonts/Monograf-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Monograf";
  font-style: bold;
  font-weight: 500;
  src: local("Monograf Bold"),
       url(/fonts/Monograf-Bold.otf) format("opentype");
}
