/* Hex to HSL color converter: https://colordesigner.io/convert/hextohsl */

* {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --color-primary: #fff;
  --color-yellow: color(display-p3 0.98 0.895 0.467);
  --color-green: hsl(153, 90%, 30%);
  --color-orange: hsl(18, 100%, 50%);
  --color-red: hsl(333, 100%, 40%);
  --color-blue: hsl(198, 90%, 40%);
  --color-black: #000;
  --color-white: #FFF;
  --color-grey-dark: #444;
  --color-grey-light: #ccc;
  --color-grey-lightest: #eee;
  --color-todo: #FFFFBF;
}

/* Primary Elements */
html {
  height: 100%;
  font-size: .75rem;
}

body {
  color: var(--color-black);
  font: 300 1.25rem/1.5rem "Monograf", monospace;
  font-synthesis: none;
  min-height: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-image: url("/images/photocopy-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

header,
section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 75%;
  padding: 2rem;
}

ul,
ol {
  list-style-position: outside;
  margin: 1.5rem 0 1.5rem 2.5rem;
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  margin: 1.5rem 1.5rem 1.5rem 0;
}

li {
  margin-bottom: .375rem;
}

header {
  color: var(--color-white);
}

footer {
  text-align: center;
  padding: 1.5rem;
  width: 75%;
  margin: 5rem auto;
  border-top: 1px dotted var(--color-grey-light);
}

footer p {
  text-align: center;
  font-size: .875rem;
  margin-bottom: 0rem;
}

blockquote {
  border-left: .25rem solid var(--color-primary);
  padding-left: 1.25rem;
}

pre {
  padding-left: 1.5rem;
  overflow-x: scroll;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  font-size: inherit;
  font-weight: 500;
  padding: 0 1.5rem .75rem 0;
  text-align: left;
}

td,
th {
  vertical-align: initial;
  white-space: nowrap;
}

/* Headers */
h1 {
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 3rem;
  margin: 3rem 0;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 1.5rem 0;
}

* + h2 {
  margin-top: 3rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 1.5rem 0 .5 0;
  width: auto;
}

h4 {
  font-weight: normal;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: .5rem 0rem 2rem 0rem;
  text-align: left;
}

.articles {
  display: inline-flex;
  flex-wrap: wrap;
}

article {
  padding: 2rem;
  border: 2px dashed var(--color-grey-light);
  margin: 2rem 2rem 2rem 0;
  background: var(--color-grey-lightest);
}

article img {
  width: 90%;
  margin: 1rem auto;
  box-shadow: 0px 0px 5px var(--color-grey-light);
}

.extras article {
  text-align: center;
}

.extras article p {
  text-align: center;
}

.extras article img {
  border: 1px dashed var(--color-grey-dark);
}

.portfolio article {
  background: #000000;
  color: var(--color-white);
  border: none;
}

.portfolio article:nth-child(1n) { transform:rotate(1deg); background: var(--color-blue); }
.portfolio article:nth-child(2n) { transform:rotate(0deg); background: var(--color-red); }
.portfolio article:nth-child(3n) { transform:rotate(-2deg); background: var(--color-green); }
.portfolio article:nth-child(4n) { transform:rotate(1deg); background: var(--color-black); }
.portfolio article:nth-child(6n) { transform:rotate(-1deg); background: var(--color-red);}

.portfolio a, .portfolio em {
  background-color: var(--color-white) !important;
}

.bios article {
  background: var(--color-white);
  color: var(--color-black);
  border: none;
  /* border: 1px dashed var(--color-blue); */
  box-shadow: 0px 0px 5px var(--color-grey-light);
}

.bordered {
  padding-bottom: 3rem;
  border-bottom: 3px solid var(--color-black);
}

/* Inline Elements */
a {
  color: var(--color-black);
  background-color: var(--color-yellow);
  /* font-weight: 500; */
  text-decoration: underline;
  transition: color 125ms, background-color 125ms;
  text-align: left;
}

a:focus,
a:hover {
  /* color: var(--color-primary-lighter); */
  text-decoration: underline;
  cursor: pointer;
}

a[href="#TODO"]::before {
  content: "TODO: ";
  font-weight: 500;
  color: #000000;
}

a[href="#TODO"] {
  background-color: var(--color-todo);
  opacity: 0.5;
  padding: .25rem;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

code,
kbd {
  font-family: "Metropolis", monospace;
  letter-spacing: .0625rem;
}

cite {
  font-style: italic;
}

cite::before {
  content: "— ";
}

abbr {
  text-decoration: none;
}

#veil {
}

/* Utility Classes */
.logo {
  float: left;
  display: inline-flex;
  margin-top: -2rem;
}

.error,
.important {
  color: var(--color-red);
  font-weight: 600;
}

header {
  text-align: center;
}

header figure {
  margin-bottom: 0rem;
}

header figcaption {
  font-size: 3.625rem;
  font-weight: 300;
}

nav {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
}

nav li {
  padding: .25rem 1rem;
  text-wrap: nowrap;
  text-align: center;
}

nav li:first-child {
  display: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  background: none;
  font-weight: 300;
  text-transform: uppercase;
  background: var(--color-black);
  padding: 0.25rem .5rem;
}

nav a:focus,
nav a:hover {
  text-decoration: none;
}

nav li:nth-child(2n) { transform:rotate(-2deg); }
nav li:nth-child(3n) { transform:rotate(2deg); }
nav li:nth-child(4n) { transform:rotate(-3deg); }
nav li:nth-child(5n) { transform:rotate(2deg); }
nav li:nth-child(6n) { transform:rotate(0deg); }

.hidden {
  display: none;
}

/* Form controls */

form {
  margin: 2rem auto;
  padding: 2rem;
  border: 5px dotted var(--color-red);
}

form p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

fieldset:last-child {
  text-align: right;
}

label {
  display: block;
  margin-top: 1.5rem;
  font-weight: bold;
}

label > :first-child {
  padding: .25rem .75rem .25rem;
  /* width: calc(25% - 1.5rem); */
}

button,
input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
  font: inherit;
  background: var(--color-yellow);
  margin: 1rem 0;
  padding: .125rem .25rem;
  /* float: left; */
  border: none;
}

input[type="submit"] {
  background: var(--color-black);
  color: var(--color-white);
}

.radio-form-group {
  float: left;
  text-align: left;
  clear: both;
}

.radio-form-group label {
  padding: 0em;
  float: left;
  font-weight: normal;
  margin: -2rem 1rem 2rem 1rem;
}

.radio-form-group input[type="radio"] {
  border: 0em;
  padding: 0em;
  margin: -.75em 2em 0em -1em;
}

.checkbox-form-group input[type="checkbox"] {
  margin-top: 1rem;
  margin-left: 0rem !important;
  float: left;
  width: 100%;
}

.checkbox-form-group label {
  font-weight: normal;
}

.checkbox-form-group label > :first-child {
  padding: 0em;
  width: 5em;
  margin-left: 1em;
}

input[type="checkbox"] {
  float: right;
  margin-left: 5em;
}

em {
  background-color: var(--color-yellow);
  color: var(--color-black);
  padding: .25rem;
}

button {
  background-color: #000;
  padding: .25rem 1rem;
  color: #fff;
  font-size: .75rem;
}

button:hover {
  /* background-color: #6bcccc; */
}

input {
  margin: 0 .75rem;
  height: 3rem;
}
input,
textarea {
  width: 100%;
}

textarea {
  min-height: 6.25rem;
  resize: none;
}

sup {
  display: inline-block;
  transform: rotate(3deg);
}

.one-tab-two-spaces {
  padding-left: 2rem;
}

.two-tabs-four-spaces {
  padding-left: 4rem;
}

.book-club-cover {
  transform: rotate(2deg);
  background-color: var(--color-red);
  padding: .15rem;
}

.book-club-cover img {
  width: 100%;
  transform: rotate(-3deg);
  border: 2px dashed var(--color-grey-light);
}

.columns {
  display: inline-flex;
  flex-wrap: wrap;
}

.column {
  width: 40%;
  margin: 0rem 3rem 0 0;
}

.column img {
  width: 100%;
}

.column ul {
  margin-left: 1rem;
}

.column-left {
  padding-right: 2rem; 
  border-right: 2px dotted var(--color-grey-dark);
}

.clipart-frame-1 {
  transform: rotate(-3deg);
  background-color: var(--color-green);
  padding: .15rem;
}

.clipart-frame-1 img {
  width: 100%;
  transform: rotate(5deg);
  opacity: 0.85;
}

.clipart-frame-2 {
  /* transform: rotate(4.5deg); */
  background-color: var(--color-orange);
  padding: .15rem;
  margin: 1rem auto;
  border-radius: 100rem;
  text-align: center;
}

.clipart-frame-2 img {
  width: 75%;
  transform: rotate(-2deg);
  opacity: 0.85;
}

.clipart-frame-3 {
  width: 21rem;
  height: 21rem;
  background-color: var(--color-white);
  margin: 2.25rem auto;
  border-radius: 55rem;
  border: 3px solid var(--color-grey-light);
  /* box-shadow: 0px 0px 10px var(--color-orange); */
}

.clipart-frame-3 img {
  opacity: 1;
  height: 21rem;
  border-radius: 55rem;
}

.clipart-frame-4 {
  width: 17rem;
  height: 17rem;
  background-color: var(--color-white);
  margin: 2.25rem auto;
  /* box-shadow: 0px 0px 10px var(--color-orange); */
}

.clipart-frame-4 img {
  opacity: 1;
  height: 100%;
}

.inline-image {
  text-align: center;
}

.inline-image img {
  width: 65%;
  margin: 1rem auto;
}

/* Media queries */

@media (min-width: 30px) {

  body {
    padding-top: 13rem;
  }

  header {
    margin-top: -10.5rem;
  }

  nav {
    margin-top: 1rem;
    font-size: .875rem;
  }
  
  nav li:first-child {
    display: initial;
  }

  form {
    width: 100%;
  }

  .articles article {
    width: 100%;
  }

  .nav-crop {
    display: none;
  }

  header figcaption {
    font-size: 2rem;
  }

  .column {
    width: 80%;
  }

  .logo {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 1rem;
  }

  nav {
    font-size: 1rem;
  }

 form {
   width: 60%;
 }
 
 .book-club-cover {
    float: right;
    width: 35%;
    margin: 0 0 3rem 3rem;
  }

  .column {
    width: 40%;
  }  

  .articles article {
    width: 35%;
  }

}

@media (min-width: 900px) {
  .nav-crop {
    display: inline;
  }
  
}