<footer>
  <p>
    &copy; {{ now.Format "2006" }} (m)otherboard. Privacy is a digital human right. This site does not use cookies or 3rd party analytics.
  </p>
  <p>
    Want to keep up with (m)otherboard? Sign up to receive our transmissions.
  </p>
  
  <div style="min-height: 58px;max-width: 440px;margin: 1rem auto;width: 100%"><script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.2/umd/signup-form.min.js" data-button-color="#FFDA00" data-button-text-color="#000000" data-site="https://m-otherboard.ghost.io/" data-locale="en" async></script></div>

</footer>
