<nav id="navigation">
  <ul>
    <li><a href="/" title="Home">Home</a></li>
    <li class="long-nav-label"><a href="/inside" title="What's Inside the Book">What's Inside</a></li>
    <li><a href="/events" title="Events">Book Club</a></li>
    <li><a href="/subscribe" title="Subscribe">Subscribe</a></li>
    <li><a href="/author" title="Meet the Author"><span class="long-nav-label">Meet the</span> Author</a></li>
    <li><a href="/contact" title="Contact">Contact</a></li>
    <li class="cta"><a href="/buy" title="Buy Now">Buy<span class="long-nav-label"> Now</span></a></li>
  </ul>
</nav>
