<nav>
  <ul>
    <li><a href="/who-we-are" title="Who We Are">Who<span class="nav-crop"> We Are</span></a></li>
    <li><a href="/what-we-do" title="What We Do">What<span class="nav-crop"> We Do</span></a></li>
    <li><a href="/join" title="Join Us">Join</a></li>
    <li><a href="/support" title="Support Us">Support<span class="nav-crop"> Us</span></a></li>
    <li><a href="/downloads" title="Downloads">Downloads</a></li>
    <li><a href="/contact" title="Contact">Contact</a></li>
  </ul>
</nav>
