{{ $data := getCSV "," (.Get 0) }}

<h3>What does technology mean to you?</h3>
<div class="articles pullquotes">
  {{ range $i, $r := (after 1 $data) }}
    {{ if ne (index $r 1) "" }}
      <article class="what-is-technology hidden">
        <p>
          {{ index $r 1 }} –{{ index $r 0 }}
        </p>
      </article>
    {{ end }}
  {{ end }}
  <article>
    <img class="bubble bubble-right" src="" alt="Thought bubble icon, designed to look like a cutout." />
  </article>
</div>

<h3>What excites you about technology?</h3>
<div class="articles pullquotes">
  <article>
    <img class="bubble bubble-left" alt="Thought bubble icon, designed to look like a cutout." />
  </article>
  {{ range $i, $r := (after 1 $data) }}
    {{ if ne (index $r 2) "" }}
      <article class="what-excites-you hidden">
        <p>
          {{ index $r 2 }} –{{ index $r 0 }}
        </p>
      </article>
    {{ end }}
  {{ end }}
</div>

<h3>What scares you about technology?</h3>
<div class="articles pullquotes">
  {{ range $i, $r := (after 1 $data) }}
    {{ if ne (index $r 3) "" }}
      <article class="what-scares-you hidden">
        <p>
          {{ index $r 3 }} –{{ index $r 0 }}
        </p>
      </article>
    {{ end }}
  {{ end }}
  <article>
    <img class="bubble bubble-right" alt="Thought bubble icon, designed to look like a cutout." />
  </article>
</div>

<h3>What does 'collective good' mean to you?</h3>
<div class="articles pullquotes">
  <article>
    <img class="bubble bubble-left" alt="Thought bubble icon, designed to look like a cutout." />
  </article>
  {{ range $i, $r := (after 1 $data) }}
    {{ if ne (index $r 4) "" }}
      <article class="collective-good hidden">
        <p>
          {{ index $r 4 }} –{{ index $r 0 }}
        </p>
      </article>
    {{ end }}
  {{ end }}
</div>
